{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="card-body">

  <div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Forgot your password?</h5>
    <p class="text-center small">Enter your email address below, and we'll email instructions for setting a new one.</p>
  </div>

  <form class="row g-3 needs-validation" novalidate method="post">
    {% csrf_token %}

    <div class="col-12">
      <label for="yourEmail" class="form-label">Your Email</label>
      <input type="email" name="email" class="form-control" id="yourEmail" required>
    </div>

    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Reset Password</button>
    </div>
    <div class="col-12">
      <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
  </form>


</div>

{% endblock %}