{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="card-body">
{% if validlink %}
  <div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Forgot your password?</h5>
    <p class="text-center small">Enter your email address below, and we'll email instructions for setting a new one.</p>
  </div>

  <form class="row g-3 needs-validation" novalidate method="post">
    {% csrf_token %}

    <div class="row mb-3">
      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
      <div class="col-md-8 col-lg-9">
        <input name="new_password1" type="password" class="form-control" id="newPassword">
        <div id="UsernameHelpBlock" class="form-text">{{ password_form.new_password1.help_text }}</div>
      </div>
    </div>

    <div class="row mb-3">
      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
      <div class="col-md-8 col-lg-9">
        <input name="new_password2" type="password" class="form-control" id="renewPassword">
      </div>
    </div>

    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Change Password</button>
    </div>

  </form>
{% else %}
    <div class="pt-4 pb-2">
    <p class="text-center small">The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.</p>
  </div>
      <div class="col-12">
      <p class="small mb-0"><a href="{% url 'home-dashboard' %}">Back to HomePage</a></p>
    </div>
{% endif %}
</div>

{% endblock %}