{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<div class="pagetitle">
      <h1>{{ title }}</h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">{{ subtitle }}</a></li>
          <li class="breadcrumb-item active">{{ title }}</li>
        </ol>
    </nav>
</div><!-- End Page Title -->

<section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="{{ user.profile.image.url }}" alt="Profile" class="rounded-circle">
              <h2>@{{ user.username }}</h2>
              <h3>{{balance}} $</h3>
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-history">Transaction History</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">
                  <h5 class="card-title">Wallets</h5>
                  <p class="small fst-italic">
                    <!-- Wallets-->
                    <div class="col-12">
                      <div class="card top-selling overflow-auto">


                <div class="card-body pb-0">

                  <table class="table table-borderless">
                    <thead>
                      <tr>
                        <th scope="col">Preview</th>
                        <th scope="col">Token</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Value</th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for value, wallet in wallets %}
                      <tr>
                        <th><a href=""><img src="{{ wallet.token.image.url }}" width="50" height="50"></a></th>
                        <td><a href="" class="card-title">{{ wallet.token.name.capitalize }} <span> {{ wallet.token.symbol }}</span></a></td>
                        <td>{{wallet.quantity}}</td>
                        <td class="fw-bold">${{value}}</td>
                      </tr>

                    {% endfor %}
                    </tbody>
                  </table>

                </div>

              </div>
                    </div><!-- End Wallets -->
                  </p>

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">Full Name</div>
                    <div class="col-lg-9 col-md-8">{{ user.first_name }} {{ user.last_name }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{ user.email }}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">...</div>
                    <div class="col-lg-9 col-md-8">...</div>
                  </div>
                </div>

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="row mb-3">
                      <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                      <div class="col-md-8 col-lg-9">
                        <img src="{{ user.profile.image.url }}" alt="Profile" id="profileImage" class="rounded-circle">
                        <div class="pt-2">
                          <span class="btn btn-primary">
                            <input type="file" name="image" accept="image/*" class="form-control form-control-sm">
                          </span>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="first_name" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="first_name" type="text" class="form-control" id="first_name" value="{{ user.first_name }}">
                      </div>
                    </div>

                      <div class="row mb-3">
                      <label for="last_name" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="last_name" type="text" class="form-control" id="last_name" value="{{ user.last_name }}">
                      </div>
                    </div>

                      <div class="row mb-3">
                      <label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="email" type="text" class="form-control" id="email" value="{{ user.email }}">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" name="edit_profile">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

                <div class="tab-pane fade pt-3" id="profile-history">

                  <h5 class="card-title">Recent Transactions <span>| Trading</span></h5>
                  <!-- History -->
                  <table class="table table-borderless datatable">
                    <thead>

                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Date Time</th>
                      </tr>

                    </thead>
                    <tbody>
                      {%for transaction in history%}
                      <tr class="text">
                        <td scope="row">#{{transaction.id}}</td>
                        {%if transaction.type == 'buy'%}
                          <th><a class="text-success">{{transaction.quantity}} {{transaction.token.symbol}}</a></th>
                          <th><a class="text-success">{{transaction.transaction_price}} USDT</a></th>
                        {%else%}
                          <th><a class="text-danger">{{transaction.quantity}} {{transaction.token.symbol}}</a></th>
                          <th><a class="text-danger">{{transaction.transaction_price}} USDT</a></th>
                        {%endif%}
                        <td>{{transaction.date_time}}</td>
                      {%endfor%}
                      </tr>
                    </tbody>
                  </table>

                </div><!-- End History -->

                <div class="tab-pane fade pt-3" id="profile-change-password">
                  <!-- Change Password Form -->
                  <form method="POST">
                    {% csrf_token %}

                    <div class="row mb-3">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="old_password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="new_password1" type="password" class="form-control" id="newPassword">
                        <div id="UsernameHelpBlock" class="form-text">{{ password_form.new_password1.help_text }}</div>
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="new_password2" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btn btn-primary" name="change_password">Change Password</button>
                    </div>
                  </form><!-- End Change Password Form -->

                </div>

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

{% endblock %}