{% extends 'users/base.html' %}
{% load static %}
{% block content %}

<div class="card-body">

  <div class="pt-4 pb-2">
    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
    <p class="text-center small">Enter your personal details to create account</p>
  </div>

  <form class="row g-3 needs-validation" novalidate method="post">
    {% csrf_token %}

    <div class="col-12">
      <label for="yourName" class="form-label">Your Name</label>
      <input type="text" name="first_name" class="form-control" id="yourName" value="{{ form.data.first_name }}" required>
    </div>

    <div class="col-12">
      <label for="yourEmail" class="form-label">Your Email</label>
      <input type="email" name="email" class="form-control" id="yourEmail" value="{{ form.data.email }}" required>
    </div>

    <div class="col-12">
      <label for="yourUsername" class="form-label">Username</label>
      <div class="input-group has-validation">
        <span class="input-group-text" id="inputGroupPrepend">@</span>
        <input type="text" name="username" class="form-control" id="yourUsername" value="{{ form.data.username }}" required>

        {% if form.username.errors %}
          <div id="UsernameInvalidFeedback" class="text-danger">{{ form.username.errors }}</div>
        {% else %}
          <div id="UsernameHelpBlock" class="form-text">{{ form.username.help_text }}</div>
        {% endif %}

      </div>
    </div>

    <div class="col-12">
      <label for="yourPassword" class="form-label">Password</label>
      <input type="password" name="password1" class="form-control" id="yourPassword" required>

      {% if form.password1.errors %}
        <div id="Password1InvalidFeedback" class="text-danger">{{ form.password1.errors }}</div>
      {% else %}
        <div id="Password1HelpBlock" class="form-text">{{ form.password1.help_text }}</div>
      {% endif %}

    </div>

    <div class="col-12">
      <label for="confirmPassword" class="form-label">Confirm Password</label>
      <input type="password" name="password2" class="form-control" id="confirmPassword" required>

      {% if form.password2.errors %}
        <div id="Password2InvalidFeedback" class="text-danger">{{ form.password2.errors }}</div>
      {% else %}
        <div id="Password2HelpBlock" class="form-text">{{ form.password2.help_text }}</div>
      {% endif %}

    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" name="terms" type="checkbox" value="" id="acceptTerms" required>
        <label class="form-check-label" for="acceptTerms">I agree and accept the <a href="#">terms and conditions</a></label>
        <div class="invalid-feedback">You must agree before submitting.</div>
      </div>
    </div>
    <div class="col-12">
      <button class="btn btn-primary w-100" type="submit">Create Account</button>
    </div>
    <div class="col-12">
      <p class="small mb-0">Already have an account? <a href="{% url 'login' %}">Log in</a></p>
    </div>
  </form>

</div>

{% endblock %}